@include font("Futura", "Futura", "400", "normal");
@include font("Montserrat", "Montserrat-Bold", "700", "normal");
@include font("Montserrat", "Montserrat-ExtraBold", "800", "normal");
@include font("Montserrat", "Montserrat-Light", "300", "normal");
@include font("Montserrat", "Montserrat-Regular", "400", "normal");
@include font("Montserrat", "Montserrat-SemiBold", "600", "normal");
@include font("Roboto", "Roboto-Regular", "400", "normal");
@include font("Icon1", "iconfont_tb", "400", "normal");
//Icon1
.if_tbig:before {
    content: "\e900";
    font-family: "Icon1";
  }
  .if_tbwhatsapp:before {
    content: "\e901";
    font-family: "Icon1";
  }
  .if_tbcall-int:before {
    content: "\e902";
    font-family: "Icon1";
  }
  .if_tbtwitter:before {
    content: "\e903";
    font-family: "Icon1";
  }
  .if_tbfacebook:before {
    content: "\e904";
    font-family: "Icon1";
  }
  .if_tbcall-phone:before {
    content: "\e905";
    font-family: "Icon1";
  }
  .if_tbpin:before {
    content: "\e906";
    font-family: "Icon1";
  }
  .if_tbtime:before {
    content: "\e907";
    font-family: "Icon1";
  }