

[class^="fs-"], [class*=" fs-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fullscreen-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fs-fullscreen_soc_3:before {
  content: "\e900";
  color: #454b52;
}
.fs-fullscreen_soc_2:before {
  content: "\e901";
  color: #454b52;
}
.fs-fullscreen_soc_1:before {
  content: "\e902";
  color: #454b52;
}
