//подключение шрифтов
@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

//import
@import "fonts";
@import "normalize";
//шрифты
$fontM: 'Montserrat', sans-serif;
$fontR: 'Roboto', sans-serif;
$fontF: 'Futura', sans-serif;
//цвета
$blue: rgba(0, 147, 255, 1);
//брейкпойнты
$md1: 1198.98;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$maxWidth: 1920;

button, a {
    cursor: pointer;
    transition: color .3s ease-in, background .3s ease-in;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    @media (max-width: $md3 + px) {
        &.lock {
            overflow: hidden;
        }
    } 
}

.wrapper {
    flex: 0 0 auto;
    width: 100%;
    max-width: $maxWidth + px;
    min-width: 280px;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: $maxWidth + px;
    margin: 0 auto;
    padding: 0 20px;
    &-header {
        
    }
    &-fullscreen {
        max-width: 1216px;
    }
    &-main {
        max-width: 1476px;
    }
    
    /*
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;*/
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title_b {
    font-family: $fontM;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    text-align: center;
    color: #374148;
    .h2_line {
        margin: 0;
        display: inline-block;
        position: relative;
        &:before, &:after {
            content: '';
            height: 1px;
            position: absolute;
            top: 50%;
            background-color: red;
        }
        &:before {
            right: 100%;
            margin-right: 60px;
        }
        &:after {
            left: 100%;
            margin-left: 60px;
        }
    }
}

.link-blue {
    color: rgba(255,255,255,1);
    background: $blue;
    &:hover {
        color: #003C5F;
        background: rgba(255,255,255,1); 
    }
}
//========================================
.header {
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    &, a {
        font-family: $fontF;
        font-size: 12px;
        line-height: 120%;
        color: rgba(255, 255, 255, 1);
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left {
        flex: 0 1 415px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 10px 0 0;
    }
    &__menu {
        flex: 0 1 628px;
        margin: 0 10px;
    }
    &__contacts {
        flex: 0 1 27%;
        display: flex;
        justify-content: space-between;
        margin: 0 0 0 10px;
    }
    &__logo {
        width: 215px;
        height: auto;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
        }
    }
    &__lang {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__address {
        flex: 0 0 140px;
        margin: 0 10px 0 0;
        address {
            font-style: normal;
        }
    }
    &__time {
        flex: 0 0 100px;
        margin: 0 10px 0 0;
    }
    &__link {
        flex: 0 1 200px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        padding: 0 5px;
        border: 2px solid rgba(255, 255, 255, 0.5);
        &:hover {
            background:$blue;
            border: $blue;
        }
    }
    .lang {
        display: flex;
        justify-content: space-between;
        align-items: center;
            &__option {
                color: rgba(120, 161, 182, 1);
                text-transform: uppercase;
                margin: 0 6px;
                &.active, &:hover {
                    color: rgba(255, 255, 255, 1);
                }
            }
    }
    .menu {
        &__burger {
            display: none
        }
        &__body {
        }
        &__list {
            display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        margin: 0 7px;
            &:hover {
                color: rgba(57, 184, 255, 1);
            }
        }
    }
    .if_icon {
        padding: 0 0 0 30px;
        position: relative;
        &:before {
            font-family: 'Icon1';
            font-size: 16px;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
/*    @media (max-width: $md3 + px) {
        .menu {
            &__burger {
                display: block;
                position: relative;
                width: 30px;
                height: 20px;
                padding: 2px;
                z-index: 3;
                span {
                    background-color: rgba(104, 104, 104, 1);
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    left: 0;
                    top: 9px;
                    transition: all 0.3s ease 0s;
                }
                &:before, &:after {
                    content: '';
                    background-color:rgba(104, 104, 104, 1);
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    left: 0;
                    transition: all 0.3s ease 0s;
                }
                &:before {
                    top: 0;
                }
                &:after {
                    bottom: 0;
                }
                &.active {
                    &:before {
                        transform: rotate(45deg);
                        top: 9px;
                    }
                    &:after {
                        transform: rotate(-45deg);
                        bottom: 9px;
                    }
                    span {
                        transform: scale(0);
                    }
                }
            }
            &__body {
                display: none;
                position: fixed;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                //важно для прокрутки
                overflow: auto;
                z-index: 2;
                padding: 120px 20px 30px 20px;
                transition: all .3s ease 0s;
                background-color: #fff;
                &.active {
                    display: block;
                }
                //плашка для прокрутки на маленьких экранах
                &:before {
                    content: '';
                    position: fixed;
                    width: 100%;
                    height: 105px;
                    top: 0;
                    left: 0;
                    z-index: 3;
                    background-color: yellow;
                }
            }
            &__list {
                //важно для прокрутки
                height: 100%;
            }
        } 
    }*/
}
//========================================
.fullscreen {
    width: 100%;
    flex: 1 0 100%;
    background: url('../img/fullscreen_bg.jpg') center/cover no-repeat;
    padding: 100px 0 25px 0;
    color: rgba(255,255,255,1);
    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__content {
        max-width: 554px;
        font-family: $fontM;
        margin: auto 0;
    }
    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        margin: 0 0 49px;
        position: relative;
        &:after {
            content: '';
            height: 2px;
            width: 100%;
            background: $blue;
            position: absolute;
            left: 0;
            bottom: -20px;
        }
    }
    &__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 85px 0;
        p {
            margin: 0 0 34px 0;
            span {
                font-weight: 700;
            }
        }
    }
    &__link {
        font-family: $fontF;
        font-size: 14px;
        line-height: 17px;
        padding: 8px 25px;
    }
    &__down {
        width: 32.17px;
        height: 20px;
        background: url('../img/down.svg') 50% 50%/cover no-repeat;
        align-self: center;
        animation: arrow 1s infinite;
    }
    &__iconbar {
        position: absolute;
        top: 50%;
        right: 25px;
        display: flex;
        flex-direction: column;
        transform: translate(0, -50%);
    }
    &__soc {
        font-family: 'Icon1';
        font-size: 29px;
        color: rgba(69, 75, 82, 1);
        margin: 15px 0 15px 0;
        &:hover {
            color: rgba(255,255,255,1);
        }
    }  
}
//========================================
.benefits {
    padding: 114px 0 110px 0;
    position: relative;
    &:before {
        content: '';
        height: 25px;
        width: 741px;
        position: absolute;
        top: 0;
        left: 0;
        background:linear-gradient(to right, #003C5F 0, #003C5F 33%, #0A6397 33%, #0A6397 66%, #008DD2 66%, #008DD2 100%);
    }
    &:after {
        content: '';
        width: 100vw;
        height: 120%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, #CFD4DB 43.05%, rgba(186, 193, 201, 0) 100%);
        z-index: -1;
    }
    &__title {
        margin: 0 0 119px 0;
        .h2_line {
            &:before, &:after {
                width: 292px;
                background: #374148;
            }
        }
    }
    &__box {
        display: flex;
    }
    &__pic {
        flex: 0 1 66.666%;
    }
    &__list {
        flex: 0 1 33.333%;
        max-width: 350px;
    }
    &__li {
        font-family: $fontM;
        font-size: 18px;
        line-height: 22px;
        color: #3C464E;
        display: flex;
        align-items: center;
        margin: 0 0 25px 0;
        img {
            width: 56px;
            height: 56px;
            margin: 0 45px 0 0;
        }
    }
}
//========================================
.types {
    padding: 18px 0 125px 0;
    background: url('../img/types/types_cloud_1.svg') right 90px top 115px /212px auto no-repeat, url('../img/types/types_cloud_2.svg') 100px 195px/299px auto no-repeat, url('../img/types/types_cloud_1.svg') 128px 630px /212px auto no-repeat, url('../img/types/types_cloud_1.svg') 230px 1245px /109px auto no-repeat;
    &__title {
        margin: 0;
        .h2_line {
            max-width: 406px;
            &:before, &:after {
                width: 336px;
                background: #C4C4C4;
            }
        }

    }

    // .types__box

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: url('../img/types/types_line.svg') center 290px /1436px 1224.5px no-repeat;
    }

    // .types__row

    &__row {
        display: flex;
        width: 100%;
        height: 296px;
        padding: 0 10%;
        margin: 0 auto;
        justify-content: center;
        &:nth-child(1) {
            justify-content: flex-end;
        }
        &:nth-child(2) {
            background: url('../img/types/types_cloud_1.svg') 40% 50% /109px auto no-repeat, url('../img/types/types_cloud_3.svg') 85% 90px /299px auto no-repeat;
            justify-content: flex-start;
        }
        &:nth-child(3) {
            background: url('../img/types/types_cloud_1.svg') 130px 60% /103px auto no-repeat, url('../img/types/types_cloud_2.svg') 55% 40% /299px auto no-repeat, url('../img/types/types_cloud_1.svg') right 110px top 45% /109px auto no-repeat;
            justify-content: flex-end;
        }
        &:nth-child(4) {
            background: url('../img/types/types_cloud_1.svg') 45% 55% /109px auto no-repeat, url('../img/types/types_cloud_1.svg') right 60px bottom 60px /109px auto no-repeat, url('../img/types/types_cloud_3.svg') 100px 50% /299px auto no-repeat, url('../img/types/types_cloud_3.svg') right 164px top 46% /299px auto no-repeat;
        }
        &:last-child {
            height: 580px;
            background: url('../img/types/types_wave_1.svg') bottom 10% left 24%/164px auto no-repeat, url('../img/types/types_wave_2.svg') bottom 8.5% right 18.5%/316px auto no-repeat, url('../img/types/types_cloud_1.svg') top 35% right 20%/109px auto no-repeat, url('../img/types/types_cloud_2.svg') left 33% top 46%/255px auto no-repeat, url('../img/types/types_cloud_4.svg') left 42% top 30%/114px auto no-repeat;
        }
    }

    // .types__column

    &__column {
        flex: 0 0 auto;
        height: 100%;
        display: flex;
        align-items: flex-end;
        position: relative;
        &_1 {
            margin: 0 55px 0 0;
        }
        &_3 {
            margin: 0 165px 0 0;
        }
        &_5 {
            margin: 0 140px 0 0;
        }
    }

    // .types__pic

    &__pic {
        position: relative;
        height: 44.65%;
        width: auto;
        &_5 {
            height: 61.12%;
        }
        &_6 {
            height: 46.82%;
        }
        &_7 {
            height: 65.02%;
        }
        &_8 {
            height: 19.74%;
        }
        img {
            height: 100%;
            width: auto;
        }
    }
    &__lable {
        font-family: $fontM;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #3C464E;
        position: absolute;
        left: 50%;
        bottom: -30px;
        transform: translate(-50%, 0);
    }
    &__ship {
        height: 32.38%;
        width: auto;
        position: absolute;
        top: 54%;
        left: 15%;
        img {
            height: 100%;
            width: auto;
        }
    }
    &__plane {
        height: 14.01%;
        width: auto;
        position: absolute;
        top: 40%;
        left: 55%;
        img {
            height: 100%;
            width: auto;
        }
    }
}
//========================================
.quality {
    background:  url('../img/quality_w.png') 0 0/contain no-repeat, url('../img/quality_bg.svg') 50% 800px/90% no-repeat, #0A6397;
    padding: 80px 0 100px 0;
    font-family: $fontM;
    // .quality__top

    &__top {
        background: url('../img/quality.png') 0 -50px/358px no-repeat;
        max-width: 920px;
        height: 698px;
        padding: 0 0 0 350px;
    }

    // .quality__slogan

    &__slogan {
        font-weight: 600;
        font-size: 50px;
        line-height: 53px;
        color: rgba(10, 99, 151, 1);
        margin: 0 0 30px 0;
    }

    // .quality__name

    &__name {
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: rgba(60, 70, 78, 1);
        margin: 0 0 25px 0;
    }

    // .quality__contact

    &__contact {
        font-size: 18px;
        line-height: 22px;
        color: rgba(60, 70, 78, 1);
    }

    // .quality__body

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: -300px 0 120px 0;
    }

    // .quality__item

    &__item {
        display: flex;
        padding: 40px 10px;
        &:nth-child(n) {
            width: 47.77%;
            align-self: flex-end;
        }
        &:nth-child(2n) {
            width: 43.75%;
            align-self: flex-start;
        }
    }

    // .quality__number

    &__number {
        color: #0A6397;
        font-weight: 300;
        font-size: 170px;
        text-shadow: 1.5px 1.5px 0px rgba(255, 255, 255, 1), -1.5px -1.5px 0px rgba(255, 255, 255, 1), 1.5px -1.5px 0px rgba(255, 255, 255, 1), -1.5px 1.5px 0px rgba(255, 255, 255, 1);
        margin: 0 57px 0 0;
    }

    // .quality__article

    &__article {
        font-size: 20px;
        line-height: 125.9%;
        color: rgba(255, 255, 255, 1);
    }

    // .quality__title

    &__title {
    }
    &__link {
        width: 298px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $fontF;
        font-size: 14px;
        margin: 0 auto;
    }
}
//========================================
.photos {
    width: 100%;
    height: 177px;
    padding: 0;
    margin: 0;
    display: flex;
    &__item {
        flex: 0 0 360px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
//========================================
@keyframes arrow {
    0% {
        transform: translate(0,0);
    }
    50% {
        transform: translate(0,10px);
    }
    100% {
        transform: translate(0,0);
    }
}