//подключение шрифтов
@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

//import
@import "fonts";
@import "normalize";
//шрифты
$fontM: 'Montserrat', sans-serif;
$fontR: 'Roboto', sans-serif;
$fontF: 'Futura', sans-serif;
//цвета
$blue: rgba(0, 147, 255, 1);
//брейкпойнты
$md1: 1198.98;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$maxWidth: 1920;

button, a {
    cursor: pointer;
    transition: color .3s ease-in, background .3s ease-in;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    @media (max-width: $md3 + px) {
        &.lock {
            overflow: hidden;
        }
    } 
}

.wrapper {
    flex: 0 0 auto;
    width: 100%;
    max-width: $maxWidth + px;
    min-width: 280px;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: $maxWidth + px;
    margin: 0 auto;
    padding: 0 20px;
    &-header {
        
    }
    &-fullscreen {
        max-width: 1216px;
    }
    &-main {
        max-width: 1476px;
    }
    /*
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;*/
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title_b {
    font-family: $fontM;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    text-align: center;
    color: #374148;
    h2 {
        display: inline-block;
        position: relative;
        &:before, &:after {
            content: '';
            height: 1px;
            position: absolute;
            top: 50%;
            background-color: red;
        }
        &:before {
            right: 100%;
            margin-right: 60px;
        }
        &:after {
            left: 100%;
            margin-left: 60px;
        }
    }
}
//========================================
.header {
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    &, a {
        font-family: $fontF;
        font-size: 12px;
        line-height: 120%;
        color: rgba(255, 255, 255, 1);
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left {
        flex: 0 1 415px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 10px 0 0;
    }
    &__menu {
        flex: 0 1 628px;
        margin: 0 10px;
    }
    &__contacts {
        flex: 0 1 27%;
        display: flex;
        justify-content: space-between;
        margin: 0 0 0 10px;
    }
    &__logo {
        width: 215px;
        height: auto;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
        }
    }
    &__lang {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__address {
        flex: 0 0 140px;
        margin: 0 10px 0 0;
        address {
            font-style: normal;
        }
    }
    &__time {
        flex: 0 0 100px;
        margin: 0 10px 0 0;
    }
    &__link {
        flex: 0 1 200px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        padding: 0 5px;
        border: 2px solid rgba(255, 255, 255, 0.5);
        &:hover {
            background:$blue;
            border: $blue;
        }
    }
    .lang {
        display: flex;
        justify-content: space-between;
        align-items: center;
            &__option {
                color: rgba(120, 161, 182, 1);
                text-transform: uppercase;
                margin: 0 6px;
                &.active, &:hover {
                    color: rgba(255, 255, 255, 1);
                }
            }
    }
    .menu {
        &__burger {
            display: none
        }
        &__body {
        }
        &__list {
            display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        margin: 0 7px;
            &:hover {
                color: rgba(57, 184, 255, 1);
            }
        }
    }
    .if_icon {
        padding: 0 0 0 30px;
        position: relative;
        &:before {
            font-family: 'Icon1';
            font-size: 16px;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
/*    @media (max-width: $md3 + px) {
        .menu {
            &__burger {
                display: block;
                position: relative;
                width: 30px;
                height: 20px;
                padding: 2px;
                z-index: 3;
                span {
                    background-color: rgba(104, 104, 104, 1);
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    left: 0;
                    top: 9px;
                    transition: all 0.3s ease 0s;
                }
                &:before, &:after {
                    content: '';
                    background-color:rgba(104, 104, 104, 1);
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    left: 0;
                    transition: all 0.3s ease 0s;
                }
                &:before {
                    top: 0;
                }
                &:after {
                    bottom: 0;
                }
                &.active {
                    &:before {
                        transform: rotate(45deg);
                        top: 9px;
                    }
                    &:after {
                        transform: rotate(-45deg);
                        bottom: 9px;
                    }
                    span {
                        transform: scale(0);
                    }
                }
            }
            &__body {
                display: none;
                position: fixed;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                //важно для прокрутки
                overflow: auto;
                z-index: 2;
                padding: 120px 20px 30px 20px;
                transition: all .3s ease 0s;
                background-color: #fff;
                &.active {
                    display: block;
                }
                //плашка для прокрутки на маленьких экранах
                &:before {
                    content: '';
                    position: fixed;
                    width: 100%;
                    height: 105px;
                    top: 0;
                    left: 0;
                    z-index: 3;
                    background-color: yellow;
                }
            }
            &__list {
                //важно для прокрутки
                height: 100%;
            }
        } 
    }*/
}
//========================================
.fullscreen {
    width: 100%;
    flex: 1 0 100%;
    background: url('../img/fullscreen_bg.jpg') center/cover no-repeat;
    padding: 100px 0 25px 0;
    color: rgba(255,255,255,1);
    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__content {
        max-width: 554px;
        font-family: $fontM;
        margin: auto 0;
    }
    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        margin: 0 0 49px;
        position: relative;
        &:after {
            content: '';
            height: 2px;
            width: 100%;
            background: $blue;
            position: absolute;
            left: 0;
            bottom: -20px;
        }
    }
    &__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 85px 0;
        p {
            margin: 0 0 34px 0;
            span {
                font-weight: 700;
            }
        }
    }
    &__link {
        color: rgba(255,255,255,1);
        background: $blue;
        font-family: $fontF;
        font-size: 14px;
        line-height: 17px;
        padding: 8px 25px;
        &:hover {
            color: $blue;
            background: rgba(255,255,255,1); 
        }
    }
    &__down {
        width: 32.17px;
        height: 20px;
        background: url('../img/down.svg') 50% 50%/cover no-repeat;
        align-self: center;
        animation: arrow 1s infinite;
    }
    &__iconbar {
        position: absolute;
        top: 50%;
        right: 25px;
        display: flex;
        flex-direction: column;
        transform: translate(0, -50%);
    }
    &__soc {
        font-family: 'Icon1';
        font-size: 29px;
        color: rgba(69, 75, 82, 1);
        margin: 15px 0 15px 0;
        &:hover {
            color: rgba(255,255,255,1);
        }
    }  
}
//========================================
.benefits {
    padding: 114px 0 123px 0;
    position: relative;
    &:before {
        content: '';
        height: 25px;
        width: 741px;
        position: absolute;
        top: 0;
        left: 0;
        background:linear-gradient(to right, #003C5F 0, #003C5F 33%, #0A6397 33%, #0A6397 66%, #008DD2 66%, #008DD2 100%);
    }
    &:after {
        content: '';
        width: 100vw;
        height: 120%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, #CFD4DB 43.05%, rgba(186, 193, 201, 0) 100%);
        z-index: -1;
    }
    &__title {
        margin: 0 0 119px 0;
        .h2_line {
            &:before, &:after {
                width: 292px;
                background: #374148;
            }
        }
    }
    &__box {
        display: flex;
    }
    &__pic {
        flex: 0 1 66.666%;
    }
    &__list {
        flex: 0 1 33.333%;
        max-width: 350px;
    }
    &__li {
        font-family: $fontM;
        font-size: 18px;
        line-height: 22px;
        color: #3C464E;
        display: flex;
        align-items: center;
        margin: 0 0 25px 0;
        img {
            width: 56px;
            height: 56px;
            margin: 0 45px 0 0;
        }
    }
}
//========================================
.types {

    // .types__title

    &__title {
        .h2_line {
            max-width: 406px;
            &:before, &:after {
                width: 336px;
                background: #C4C4C4;
            }
        }

    }

    // .types__box

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: url('../img/types/types_line.svg') center 290px /contain no-repeat;
    }

    // .types__row

    &__row {
        display: flex;
        width: 81%;
        height: 296px;
        margin: 0 auto;
        align-items: flex-end;
        justify-content: center;
        &:last-child {
            height: 580px;
        }
        &_l {
            justify-content: flex-start;
        }
        &_r {
            justify-content: flex-end;
        }
    }

    // .types__column

    &__column {
        &_1 {
            margin: 0 55px 0 0;
        }
        &_3 {
            margin: 0 165px 0 0;
        }
        &_5 {
            margin: 0 140px 0 0;
        }
    }

    // .types__pic

    &__pic {
        position: relative;
    }
    &__lable {
        font-family: $fontM;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #3C464E;
        position: absolute;
        left: 50%;
        bottom: -30px;
        transform: translate(-50%, 0);
    }
}
//========================================
@keyframes arrow {
    0% {
        transform: translate(0,0);
    }
    50% {
        transform: translate(0,10px);
    }
    100% {
        transform: translate(0,0);
    }
}